.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
  text-align: center;
  margin: 5% auto;

  font-size: 40px;
}
/* write your parent styles in here for your App.js */
